mychart/mychart-app/src/test/resources/datasets/mychart.dtd

<!ELEMENT dataset (
   (TB_ARTISTA|
    TB_ARTISTA_CANCAO|
    TB_CANCAO|
    TB_POSICAO|
    TB_TOP_MUSICAL|
    TB_TOP_MUSICAL_TB_POSICAO)*)>

<!ELEMENT TB_ARTISTA EMPTY>
<!ATTLIST TB_ARTISTA
    COD_ARTISTA CDATA #REQUIRED
    NOM_ARTISTA CDATA #REQUIRED
    DSC_TIPO CDATA #REQUIRED
>

<!ELEMENT TB_ARTISTA_CANCAO EMPTY>
<!ATTLIST TB_ARTISTA_CANCAO
    COD_ARTISTA CDATA #REQUIRED
    COD_CANCAO CDATA #REQUIRED
    NUM_ORDEM CDATA #REQUIRED
>

<!ELEMENT TB_CANCAO EMPTY>
<!ATTLIST TB_CANCAO
    COD_CANCAO CDATA #REQUIRED
    DSC_TITULO CDATA #REQUIRED
>

<!ELEMENT TB_POSICAO EMPTY>
<!ATTLIST TB_POSICAO
    COD_CANCAO CDATA #REQUIRED
    NUM_TOP_MUSICAL CDATA #REQUIRED
    NUM_MELHOR_POSICAO CDATA #REQUIRED
    NUM_POSICAO CDATA #REQUIRED
    NUM_PERMANENCIA_MELHOR_POSICAO CDATA #REQUIRED
    NUM_PERMANENCIA_TOTAL CDATA #REQUIRED
>

<!ELEMENT TB_TOP_MUSICAL EMPTY>
<!ATTLIST TB_TOP_MUSICAL
    NUM_TOP_MUSICAL CDATA #REQUIRED
    DTA_FINAL CDATA #IMPLIED
    DTA_INICIAL CDATA #REQUIRED
    NUM_PROXIMO_TOP_MUSICAL CDATA #IMPLIED
>

<!ELEMENT TB_TOP_MUSICAL_TB_POSICAO EMPTY>
<!ATTLIST TB_TOP_MUSICAL_TB_POSICAO
    TOPMUSICAL_NUM_TOP_MUSICAL CDATA #REQUIRED
    POSICOES_COD_CANCAO CDATA #REQUIRED
    POSICOES_NUM_TOP_MUSICAL CDATA #REQUIRED
    POSICOES_KEY CDATA #REQUIRED
>

